At node 0 with cost 0
At node 1 with cost 9
At node 2 with cost 24
At node 3 with cost 29
At node 5 with cost 54
At node 6 with cost 89
At node 4 with cost 94
At node 7 with cost 97
At node 8 with cost 109
109
